<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<section class="main-div">
    <div class="div-top">
        <div class="top-left">
            <h5>This is an educational HTML CSS template by templatemo website</h5>
        </div>
        <div class="top-right">

        </div>
    </div>
    <div class="second-div">
        <div class="second-left-div">
           <h3>EDU MEETING</h3>
        </div>
        <div class="second-right-div">
            <button class="x">HOME</button>
            <button class="x">MEETINGS</button>
            <button class="x">APPLY NOW</button>
            <button class="x">PAGES</button>
            <button class="x">COURSES</button>
            <button class="x">CONTACT US</button>
        </div>
    </div>
    <div class="third-div">
        <div class="third-left-div">
            <h4>HELLO STUDENTS</h4>
            <H2>WELCOME TO EDUCATION</H2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ex explicabo illum iure labore minus molestiae nostrum voluptate
                voluptatem. Amet aspernatur,</P>
            <button>JOIN US NOW</button>
        </div>
        <div class="third-right-div"></div>
    </div>
    <div class="fourth-div">
        <div class="fourth-left-div">
            <img src="../static/images/adobe-photoshop.png" alt="no image found">
            <h5>BEST EDUCATION</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="fourth-mid-div">
            <img src="../static/images/rss.png" alt="no image found">
           <H5>BEST TEACHERS</H5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="fourth-right-div">
            <img src="../static/images/atom-g0f531e796_640.png" alt="no mage found">
            <H5>BEST STUDENTS</H5>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="fifth-div">
<h4>UPCOMING MEETINGS</h4>
    </div>
</section>
</body>
</html>